body {
	background: #005AA7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #abbaab, #ffffff);
	background: -o-linear-gradient(left, #abbaab, #ffffff);
	background: linear-gradient(to right, #abbaab, #ffffff);
	color: #292e49;
	text-align: center;
}

button {
	height: 140px;
	width: 140px;
	margin: 10px;
	background-color: #515760;
	border-radius: 20px;
}

button img {
	height: 75%;
	width: 75%;
}

button img:hover {
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
}

h1 {
	font-size: 350%;
}

#game {
	padding: 2% 25% 0% 25%;
}

.score{
  border: 5px solid #292e49;
  width: 160px;
  margin: 20px auto;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.font {
	font-family: 'Permanent Marker', cursive;
}

.result{
  font-size: 25px;
}
.result>p{
  text-align: center;
  font-weight: bold;
}

#restart button {
	height: 40px;
	width: 80px;
	background-color: #abbaab;
	font-weight: bold;
}

#restart button:hover {
	transform: scale(1.1);
}